In [91]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [92]:
data = pd.read_csv("~/raw_data/testing.csv")
data.head()

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
0,Austria,AT,2020-W15,national,AT,Austria,1954,12339,8858775.0,139.285624,15.835967,Manual webscraping
1,Austria,AT,2020-W16,national,AT,Austria,773,58488,8858775.0,660.226724,1.321639,Manual webscraping
2,Austria,AT,2020-W17,national,AT,Austria,479,33443,8858775.0,377.512692,1.432288,Manual webscraping
3,Austria,AT,2020-W18,national,AT,Austria,349,26598,8858775.0,300.244673,1.312129,Country website
4,Austria,AT,2020-W19,national,AT,Austria,249,42153,8858775.0,475.833284,0.590705,Country website

In [93]:
data.loc[data['positivity_rate']>=100]

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
2624,Poland,PL,2020-W45,subnational,PL43,Lubuskie,3968,3518,1003310.0,350.639384,112.791359,TESSy
2712,Poland,PL,2020-W45,subnational,PL52,Opolskie,5518,3331,946038.0,352.100021,165.655959,TESSy
3015,Poland,PL,2020-W41,subnational,PL82,Podkarpackie,2152,2071,2086135.0,99.274496,103.911154,TESSy
3019,Poland,PL,2020-W45,subnational,PL82,Podkarpackie,11733,8005,2086135.0,383.723968,146.570893,TESSy

In [94]:
#removed the outliers
data = data.loc[data['positivity_rate']<=100]

In [95]:
#testing_rate has no outliers
len(data.loc[round(data['tests_done']/data['population']*100000,6) == round(data['testing_rate'],6)])

3784

In [96]:
#removed the regions(subnational) and kept only the countries
national_data = data.loc[data['level'] == 'national']
data.head()

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
0,Austria,AT,2020-W15,national,AT,Austria,1954,12339,8858775.0,139.285624,15.835967,Manual webscraping
1,Austria,AT,2020-W16,national,AT,Austria,773,58488,8858775.0,660.226724,1.321639,Manual webscraping
2,Austria,AT,2020-W17,national,AT,Austria,479,33443,8858775.0,377.512692,1.432288,Manual webscraping
3,Austria,AT,2020-W18,national,AT,Austria,349,26598,8858775.0,300.244673,1.312129,Country website
4,Austria,AT,2020-W19,national,AT,Austria,249,42153,8858775.0,475.833284,0.590705,Country website

In [97]:
national_data.drop(['country_code', 'level', 'region', 'region_name', 'testing_data_source'], axis = 1, inplace = True)
national_data.head()

/home/jaideep/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,country,year_week,new_cases,tests_done,population,testing_rate,positivity_rate
0,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967
1,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639
2,Austria,2020-W17,479,33443,8858775.0,377.512692,1.432288
3,Austria,2020-W18,349,26598,8858775.0,300.244673,1.312129
4,Austria,2020-W19,249,42153,8858775.0,475.833284,0.590705

In [98]:
occ_data = pd.read_csv("~/raw_data/data.csv")
occ_data.head()

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...

In [99]:
#dropped unnecessary columns
occ_data.drop(['source', 'url'], axis = 1, inplace = True)
occ_data.head()

   country                 indicator        date year_week  value
0  Austria  Daily hospital occupancy  2020-04-01  2020-W14  856.0
1  Austria  Daily hospital occupancy  2020-04-02  2020-W14  823.0
2  Austria  Daily hospital occupancy  2020-04-03  2020-W14  829.0
3  Austria  Daily hospital occupancy  2020-04-04  2020-W14  826.0
4  Austria  Daily hospital occupancy  2020-04-05  2020-W14  712.0

In [100]:
#dropped the rows which had empty dates
occ_data = occ_data.dropna()

In [101]:
#merged hospital_occupancy and testing datasets on country and year_weak
merged_dataframe = pd.merge(national_data,occ_data,on=['country','year_week'])

In [102]:
merged_dataframe.head(20)

,country,year_week,new_cases,tests_done,population,testing_rate,positivity_rate,indicator,date,value
0,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-06,824.0
1,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-07,857.0
2,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-08,829.0
3,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-09,820.0
4,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-10,771.0
5,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-11,790.0
6,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-12,792.0
7,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-06,250.0
8,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-07,243.0
9,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-08,267.0
10,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-09,266.0
11,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-10,261.0
12,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-11,245.0
13,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-12,243.0
14,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-13,742.0
15,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-14,759.0
16,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-15,769.0
17,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-16,729.0
18,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-17,682.0
19,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-18,647.0

In [103]:
merged_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13001 entries, 0 to 13000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          13001 non-null  object
 1   year_week        13001 non-null  object
 2   new_cases        13001 non-null  int64
 3   tests_done       13001 non-null  int64
 4   population       13001 non-null  float64
 5   testing_rate     13001 non-null  float64
 6   positivity_rate  13001 non-null  float64
 7   indicator        13001 non-null  object
 8   date             13001 non-null  object
 9   value            13001 non-null  float64
dtypes: float64(4), int64(2), object(4)
memory usage: 1.1+ MB

In [104]:
merged_dataframe.isnull()

,country,year_week,new_cases,tests_done,population,testing_rate,positivity_rate,indicator,date,value
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
12996,False,False,False,False,False,False,False,False,False,False
12997,False,False,False,False,False,False,False,False,False,False
12998,False,False,False,False,False,False,False,False,False,False
12999,False,False,False,False,False,False,False,False,False,False
13000,False,False,False,False,False,False,False,False,False,False

In [105]:
merged_dataframe.to_csv('merged_dataframe_interim.csv')

In [106]:
kaggle_data = pd.read_csv("~/raw_data/kaggle_data.csv")
kaggle_data.head()

  CODE      COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  AFG  Afghanistan  2019-12-31  0.498  0.0  0.0  0.0  17.477233  7.497754
1  AFG  Afghanistan  2020-01-01  0.498  0.0  0.0  0.0  17.477233  7.497754
2  AFG  Afghanistan  2020-01-02  0.498  0.0  0.0  0.0  17.477233  7.497754
3  AFG  Afghanistan  2020-01-03  0.498  0.0  0.0  0.0  17.477233  7.497754
4  AFG  Afghanistan  2020-01-04  0.498  0.0  0.0  0.0  17.477233  7.497754

In [107]:
kaggle_data.drop(['CODE'], axis = 1, inplace = True)
kaggle_data.head()

       COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  Afghanistan  2019-12-31  0.498  0.0  0.0  0.0  17.477233  7.497754
1  Afghanistan  2020-01-01  0.498  0.0  0.0  0.0  17.477233  7.497754
2  Afghanistan  2020-01-02  0.498  0.0  0.0  0.0  17.477233  7.497754
3  Afghanistan  2020-01-03  0.498  0.0  0.0  0.0  17.477233  7.497754
4  Afghanistan  2020-01-04  0.498  0.0  0.0  0.0  17.477233  7.497754

In [108]:
kaggle_data = kaggle_data.rename(columns = {'COUNTRY':'country', 
                                              'DATE':'date', 
                                              'HDI':'human_development_index',
                                              'TC':'total_cases',
                                              'TD':'total_deaths',
                                              'STI':'stringency_index',
                                              'POP':'population',
                                              'GDPCAP':'gdp_per_capita'})

In [109]:
kaggle_data.head()

,country,date,human_development_index,total_cases,total_deaths,stringency_index,population,gdp_per_capita
0,Afghanistan,2019-12-31,0.498,0.0,0.0,0.0,17.477233,7.497754
1,Afghanistan,2020-01-01,0.498,0.0,0.0,0.0,17.477233,7.497754
2,Afghanistan,2020-01-02,0.498,0.0,0.0,0.0,17.477233,7.497754
3,Afghanistan,2020-01-03,0.498,0.0,0.0,0.0,17.477233,7.497754
4,Afghanistan,2020-01-04,0.498,0.0,0.0,0.0,17.477233,7.497754

In [110]:
#merged the data with the kaggle dataset on the basis of country and date
final_data = pd.merge(merged_dataframe, kaggle_data, on=['country','date'])

In [111]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8159 entries, 0 to 8158
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  8159 non-null   object
 1   year_week                8159 non-null   object
 2   new_cases                8159 non-null   int64
 3   tests_done               8159 non-null   int64
 4   population_x             8159 non-null   float64
 5   testing_rate             8159 non-null   float64
 6   positivity_rate          8159 non-null   float64
 7   indicator                8159 non-null   object
 8   date                     8159 non-null   object
 9   value                    8159 non-null   float64
 10  human_development_index  8159 non-null   float64
 11  total_cases              8159 non-null   float64
 12  total_deaths             8159 non-null   float64
 13  stringency_index         8159 non-null   float64
 14  population_y             8159 non-null   float64
 15  gdp_per_capita           8159 non-null   float64
dtypes: float64(10), int64(2), object(4)
memory usage: 1.1+ MB

In [112]:
final_data.to_csv('final_data.csv')