In [2]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
data = pd.read_csv("/home/jaideep/Downloads/testing.csv")
data.head()

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
0,Austria,AT,2020-W15,national,AT,Austria,1954,12339,8858775.0,139.285624,15.835967,Manual webscraping
1,Austria,AT,2020-W16,national,AT,Austria,773,58488,8858775.0,660.226724,1.321639,Manual webscraping
2,Austria,AT,2020-W17,national,AT,Austria,479,33443,8858775.0,377.512692,1.432288,Manual webscraping
3,Austria,AT,2020-W18,national,AT,Austria,349,26598,8858775.0,300.244673,1.312129,Country website
4,Austria,AT,2020-W19,national,AT,Austria,249,42153,8858775.0,475.833284,0.590705,Country website

In [6]:
data.loc[data['positivity_rate']>=100]

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
2624,Poland,PL,2020-W45,subnational,PL43,Lubuskie,3968,3518,1003310.0,350.639384,112.791359,TESSy
2712,Poland,PL,2020-W45,subnational,PL52,Opolskie,5518,3331,946038.0,352.100021,165.655959,TESSy
3015,Poland,PL,2020-W41,subnational,PL82,Podkarpackie,2152,2071,2086135.0,99.274496,103.911154,TESSy
3019,Poland,PL,2020-W45,subnational,PL82,Podkarpackie,11733,8005,2086135.0,383.723968,146.570893,TESSy

In [7]:
#removed the outliers
data = data.loc[data['positivity_rate']<=100]

In [8]:
#testing_rate has no outliers
len(data.loc[round(data['tests_done']/data['population']*100000,6) == round(data['testing_rate'],6)])

3784

In [9]:
#removed the regions(subnational) and kept only the countries
national_data = data.loc[data['level'] == 'national']
data.head()

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
0,Austria,AT,2020-W15,national,AT,Austria,1954,12339,8858775.0,139.285624,15.835967,Manual webscraping
1,Austria,AT,2020-W16,national,AT,Austria,773,58488,8858775.0,660.226724,1.321639,Manual webscraping
2,Austria,AT,2020-W17,national,AT,Austria,479,33443,8858775.0,377.512692,1.432288,Manual webscraping
3,Austria,AT,2020-W18,national,AT,Austria,349,26598,8858775.0,300.244673,1.312129,Country website
4,Austria,AT,2020-W19,national,AT,Austria,249,42153,8858775.0,475.833284,0.590705,Country website

In [10]:
national_data.drop(['country_code', 'level', 'region', 'region_name', 'testing_data_source'], axis = 1, inplace = True)
national_data.head()

/home/jaideep/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,country,year_week,new_cases,tests_done,population,testing_rate,positivity_rate
0,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967
1,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639
2,Austria,2020-W17,479,33443,8858775.0,377.512692,1.432288
3,Austria,2020-W18,349,26598,8858775.0,300.244673,1.312129
4,Austria,2020-W19,249,42153,8858775.0,475.833284,0.590705

In [58]:
occ_data = pd.read_csv("/home/jaideep/Downloads/data.csv")
occ_data.head()

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...

In [59]:
#dropped unnecessary columns
occ_data.drop(['source', 'url'], axis = 1, inplace = True)
occ_data.head()

   country                 indicator        date year_week  value
0  Austria  Daily hospital occupancy  2020-04-01  2020-W14  856.0
1  Austria  Daily hospital occupancy  2020-04-02  2020-W14  823.0
2  Austria  Daily hospital occupancy  2020-04-03  2020-W14  829.0
3  Austria  Daily hospital occupancy  2020-04-04  2020-W14  826.0
4  Austria  Daily hospital occupancy  2020-04-05  2020-W14  712.0

In [60]:
#dropped the rows which had empty dates
occ_data = occ_data.dropna()

In [61]:
occ_data.drop(occ_data.loc[occ_data.country == "Lithuania"])

KeyError: "['country' 'indicator' 'date' 'year_week' 'value'] not found in axis"

In [62]:
(occ_data.loc[occ_data.country == "Lithuania"])

        country                 indicator        date year_week   value
9466  Lithuania  Daily hospital occupancy  2020-10-06  2020-W41   156.0
9467  Lithuania  Daily hospital occupancy  2020-10-13  2020-W42   149.0
9468  Lithuania  Daily hospital occupancy  2020-10-14  2020-W42   141.0
9469  Lithuania  Daily hospital occupancy  2020-10-15  2020-W42   174.0
9470  Lithuania  Daily hospital occupancy  2020-10-16  2020-W42   199.0
...         ...                       ...         ...       ...     ...
9530  Lithuania  Daily hospital occupancy  2021-01-26  2021-W04    40.0
9531  Lithuania  Daily hospital occupancy  2021-01-28  2021-W04  1409.0
9532  Lithuania  Daily hospital occupancy  2021-01-29  2021-W04  1307.0
9533  Lithuania  Daily hospital occupancy  2021-01-30  2021-W04  1323.0
9534  Lithuania  Daily hospital occupancy  2021-01-31  2021-W04  1346.0

[69 rows x 5 columns]

In [40]:
national_data.head()

,country,year_week,new_cases,tests_done,population,testing_rate,positivity_rate
0,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967
1,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639
2,Austria,2020-W17,479,33443,8858775.0,377.512692,1.432288
3,Austria,2020-W18,349,26598,8858775.0,300.244673,1.312129
4,Austria,2020-W19,249,42153,8858775.0,475.833284,0.590705

In [55]:
l = list(set(national_data.country))
for i in l:
    print(i,len(national_data.loc[national_data.country == i]))

Austria 43
Croatia 53
Greece 49
Lithuania 48
Slovakia 53
Bulgaria 35
Norway 49
Czechia 53
Spain 40
Denmark 53
Hungary 48
Germany 48
Latvia 51
Netherlands 47
Cyprus 46
Sweden 53
Italy 49
Luxembourg 49
Malta 51
Belgium 49
Portugal 49
Ireland 53
Slovenia 53
Finland 57
France 49
Poland 48
Estonia 51
Iceland 49
Romania 45

0       2020-W15
1       2020-W16
2       2020-W17
3       2020-W18
4       2020-W19
          ...
3738    2020-W04
3739    2020-W05
3740    2020-W06
3741    2020-W07
3742    2020-W08
Name: year_week, Length: 145, dtype: object

In [16]:
#merged hospital_occupancy and testing datasets on country and year_weak
merged_dataframe = pd.merge(national_data,occ_data,on=['country','year_week'])

In [17]:
merged_dataframe.head(20)

,country,year_week,new_cases,tests_done,population,testing_rate,positivity_rate,indicator,date,value
0,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-06,824.0
1,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-07,857.0
2,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-08,829.0
3,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-09,820.0
4,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-10,771.0
5,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-11,790.0
6,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily hospital occupancy,2020-04-12,792.0
7,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-06,250.0
8,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-07,243.0
9,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-08,267.0
10,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-09,266.0
11,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-10,261.0
12,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-11,245.0
13,Austria,2020-W15,1954,12339,8858775.0,139.285624,15.835967,Daily ICU occupancy,2020-04-12,243.0
14,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-13,742.0
15,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-14,759.0
16,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-15,769.0
17,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-16,729.0
18,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-17,682.0
19,Austria,2020-W16,773,58488,8858775.0,660.226724,1.321639,Daily hospital occupancy,2020-04-18,647.0

In [18]:
merged_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13001 entries, 0 to 13000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          13001 non-null  object
 1   year_week        13001 non-null  object
 2   new_cases        13001 non-null  int64
 3   tests_done       13001 non-null  int64
 4   population       13001 non-null  float64
 5   testing_rate     13001 non-null  float64
 6   positivity_rate  13001 non-null  float64
 7   indicator        13001 non-null  object
 8   date             13001 non-null  object
 9   value            13001 non-null  float64
dtypes: float64(4), int64(2), object(4)
memory usage: 1.1+ MB

In [19]:
merged_dataframe.isnull()

,country,year_week,new_cases,tests_done,population,testing_rate,positivity_rate,indicator,date,value
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
12996,False,False,False,False,False,False,False,False,False,False
12997,False,False,False,False,False,False,False,False,False,False
12998,False,False,False,False,False,False,False,False,False,False
12999,False,False,False,False,False,False,False,False,False,False
13000,False,False,False,False,False,False,False,False,False,False

In [20]:
merged_dataframe.to_csv('merged_dataframe_interim.csv')

In [21]:
kaggle_data = pd.read_csv("/home/jaideep/Downloads/raw_data.csv")
kaggle_data.head()

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

In [22]:
kaggle_data = kaggle_data.iloc[:, 0:9]
kaggle_data

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.00,38928341,1803.987,0.498
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.00,38928341,1803.987,0.498
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.00,38928341,1803.987,0.498
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.00,38928341,1803.987,0.498
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.00,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,2020-10-15,8055.0,231.0,76.85,14862927,1899.775,0.535
50414,ZWE,Zimbabwe,2020-10-16,8075.0,231.0,76.85,14862927,1899.775,0.535
50415,ZWE,Zimbabwe,2020-10-17,8099.0,231.0,76.85,14862927,1899.775,0.535
50416,ZWE,Zimbabwe,2020-10-18,8110.0,231.0,76.85,14862927,1899.775,0.535
50417,ZWE,Zimbabwe,2020-10-19,8147.0,231.0,76.85,14862927,1899.775,0.535

In [23]:
kaggle_data.columns = ['code', 'country','date','total_cases',
                    'total_deaths','stringency_index','population','GDP_capita', 'HDI']

In [25]:
kaggle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50418 entries, 0 to 50417
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   code              50418 non-null  object
 1   country           50418 non-null  object
 2   date              50418 non-null  object
 3   total_cases       47324 non-null  float64
 4   total_deaths      39228 non-null  float64
 5   stringency_index  43292 non-null  float64
 6   population        50418 non-null  int64
 7   GDP_capita        44706 non-null  float64
 8   HDI               44216 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 3.5+ MB

In [26]:
kaggle_data.isna().sum()

code                    0
country                 0
date                    0
total_cases          3094
total_deaths        11190
stringency_index     7126
population              0
GDP_capita           5712
HDI                  6202
dtype: int64

In [27]:
kaggle_data['mortality_rate'] = kaggle_data['total_deaths']/kaggle_data['total_cases']

# normalize total cases and total deaths by population
kaggle_data['prop_cases'] = kaggle_data['total_cases']/kaggle_data['population']
kaggle_data['prop_death'] = kaggle_data['total_deaths']/kaggle_data['population']

In [28]:
kaggle_data.head()

,code,country,date,total_cases,total_deaths,stringency_index,population,GDP_capita,HDI,mortality_rate,prop_cases,prop_death
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,NaN,0.0,0.0
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,NaN,0.0,0.0
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,NaN,0.0,0.0
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,NaN,0.0,0.0
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,NaN,0.0,0.0

In [30]:
#merged the data with the kaggle dataset on the basis of country and date
final_data = pd.merge(merged_dataframe, kaggle_data, on=['country','date'])

In [31]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8159 entries, 0 to 8158
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           8159 non-null   object
 1   year_week         8159 non-null   object
 2   new_cases         8159 non-null   int64
 3   tests_done        8159 non-null   int64
 4   population_x      8159 non-null   float64
 5   testing_rate      8159 non-null   float64
 6   positivity_rate   8159 non-null   float64
 7   indicator         8159 non-null   object
 8   date              8159 non-null   object
 9   value             8159 non-null   float64
 10  code              8159 non-null   object
 11  total_cases       8107 non-null   float64
 12  total_deaths      7919 non-null   float64
 13  stringency_index  7990 non-null   float64
 14  population_y      8159 non-null   int64
 15  GDP_capita        8159 non-null   float64
 16  HDI               8159 non-null   float64
 17  mortality_rate    7918 non-null   float64
 18  prop_cases        8107 non-null   float64
 19  prop_death        7919 non-null   float64
dtypes: float64(12), int64(3), object(5)
memory usage: 1.3+ MB

In [32]:
final_data.to_csv('final_data.csv')